body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px 0; 
}

#imgR {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; 
}


#site-title {
    font-size: 24px; 
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

#site-logo {
    height: 80px;
    width: auto;
    margin-right: 5px;
}


h1 {
    font-family: 'Arial', sans-serif; 
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #f5f5f5; 
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block; 
    max-width: fit-content; 
    margin: 2rem auto;
}


.input-container, .radio-group-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}

.form-group label {
    width: 20%; 
    text-align: right;
    margin-right: 10px;
    white-space: nowrap; 
}

.form-group input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.radio-group-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.radio-group {
    width: 100%; 
    margin-bottom: 10px;
}

.radio-group h2 {
    text-align: center;
}

.radio-group ul {
    list-style-type: none;
    padding: 0;
}

.radio-group li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.radio-group label {
    display: block;
    flex-grow: 1;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

input[type="submit"]:hover {
    background-color: #555;
}

.date-picker-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    margin-bottom: 10px;
    text-align: center; 
}

input[type="datetime-local"] {
    
    font-size: 1rem;
    padding: 10px;
    margin: 0 auto; 
    display: block; 
}

.submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

#results {
    max-width: 40%;
    margin: 20px auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#stats {
    margin-bottom: 50px;
}
